*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    text-align: center;
    font-family: 'Sacramento', cursive;
    font-size: 76%;
}
h1{
    width:10%;
    margin: 0 auto 0 auto; 
    font-family: 'Dancing Script', cursive;
    font-size: 90px;
}
h2{
    font-family: 'Satisfy', cursive;
    font-size: 75px;
}
h3{
    font-family: 'Inspiration', cursive;
    font-size: 75px;
}
.top-div{
    background-color:#BAD7E9;

    height:90%;
    width:210%;
    position: relative;
    padding-top: 100px;

   
}
.middle-div{
    background-color: #FCFFE7;
    height:100%;
    width:210%;
    
}
.bottom-div{ 
    background-color: #EB455F;
    height:100%;
    width:210%;
}
.bottom-cloud{
    position: absolute;
    left:30%;
}
.top-cloud{
    position: absolute;
    right: 30%;
    top: 50%;
}
.my-profile{
    border-radius: 50%;
    height:20%;
}
.Web-developer{
    border-radius:50%;
    height:30%;
    width:30%;

}
.contact-me{
    
    background-color: #2B3467;
    color:white;
    height:49%;

}
.skill-row{
    background-color:white;
    font: size 100px;
}
.technicalhead{
    height:300px;
}
p{
    font-size: 55px;
}
a{
    text-decoration: none;
    font-size: 55px;
    color: black;
}
#copyright{
    font-size: 30px;
}
.linkedin{
    height: 50px;
    width: 50px;
}
.instagram{
    height: 50px;
    width: 50px;

}
br{
    background-color: white;
}